@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'League Spartan', sans-serif;
}

.select-status{
  background-image: url("./assets/icon-arrow-down.svg");
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 16px top 50%;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}